.sections_nav{
    text-align: center;

}
.sections_nav li{
    font-size: 14px;
    font-weight: inherit;
    font-family: inherit;
    display: inline-block;
    margin: 5px;
}


.sections_nav li:hover {
    background-color: #e9ebe4;
}

.sections_nav li:last-child:hover {
    background-color: white;
    text-decoration: underline;
}