<%# CSS 
HTML 
Javascript 
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% %>

<html>
    <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header class="masthead">
            <div class= "logo">
                <img src="/assets/AA_Times_Logo.png" alt="AA-image">
            </div>
            <div class="language-nav">
                <ul>
                    <li>
                        <a href="">CSS</a>
                    </li>
                    <li><a href="">HTML</a></li>
                    <li><a href="">Javascript</a></li>
                    <li><a href="">Ruby</a></li>
                </ul>
            </div>
            <div>
                <ul class="masthead-links">
                    <li><time>Tuesday, October 18, 2016</time></li>
                    <li class= "icon-word"><i class="far fa-newspaper"></i>Today’s Paper</li>
                    <li class= "icon-word"><i class="fas fa-video"></i>Video</li>
                    <li><button>77°F</button></li>
                    <li><button>AAO<strong>+100%</strong></button></li>
                </ul>
            </div>
        </header>

    </body>
</html>
