<html>
 <head>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <div>
                <ul class="sections_nav">
                    <li>World</li>
                    <li>San Francisco</li>
                    <li>New York</li>
                    <li>Bootcamp Prep</li>
                    <li>Jumpstart</li>
                    <li>Online</li>
                    <li>Marketing</li>
                    <li>Sales</li>
                    <li>TalentMatch</li>
                    <li>Alumni</li>
                    <li>All</li>
                </ul>
            
            </div>
        </header>
    </body>
</html>